h1 {
  font-family: 'Playfair Display SC', serif;
  /* font-family: 'Cinzel', serif; */
  text-align: center;
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.section-title-divider {
    width: 100px;
    height: 3px;
    background: #61412e;
    margin: 0 auto;
    margin-bottom: 60px;
}

.content-wrap {
  justify-self: center;
  align-content: center;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .content-wrap {
    margin-top: 50px;
  }

  .title{
    margin-top: 40px;
  }
}